

footer(role="contentinfo" itemscope itemtype="https://schema.org/WPFooter").footer
    .footer__nav
      div
        p: a(href="/") Home
        p: a(href="/pets.html") Mascotas
      div
        P: a(href="/blog.html") Blog
        P: a(href="/about.html") Sobre nosotros
    .footer__author
      p &copy 2018 Hecho por #[a(href="https://instagram.com/squareflaw" target="_blank").blue-link Albin Garcia.] Repositorio de este sitio en  #[a(href=site.repa target="_blank").blue-link Github.]
    .footer__icons
      a(href="https://instagram.com/squareflaw" target="_blank"): img(src="/img/instagram-logo-color.svg", alt="instagram logo").icon
      a(href="https://github.com/squareflaw" target="_blank"): img(src="/img/github-logo-2.svg", alt="Github logo").icon
      a(href="https://twitter.com/squareflaw" target="_blank"): img(src="/img/twitter-logo-color.svg", alt="Twitter logo").icon
