header.header 
    .main-logo
      img(src=logo, alt="Main logo")
    .title
      p.websiteName PATIKS
    .menu-btn
      .menu-btn__line
      .menu-btn__line
      .menu-btn__line
    nav.menu
      ul.menu-nav
        li.menu-nav__item.isCurrent: a(href="./").menu-nav__item__link Home
        li.menu-nav__item: a(href="./mascotas.html").menu-nav__item__link Mascotas
        li.menu-nav__item: a(href="./Blog.html").menu-nav__item__link Blog
        li.menu-nav__item: a(href="./exitos.html").menu-nav__item__link Hogares encontrados
        li.menu-nav__item: a(href="./nosotros.html").menu-nav__item__link Sobre nosotros
        li.menu-nav__item: a(href="./eventos.html").menu-nav__item__link Eventos
        li.menu-nav__item: a(href="./unete.html").menu-nav__item__link ¿Quieres ser parte?
