section.section.section-join
  .section-title
    h4.title Únete
  img(src="/img/unity.svg" alt="Unity logo")
  p Para ver todos los hogares encontrados, futuros eventos y mucho mas siguenos en instagram #[a(href="https://instagram.com/patikscol").insta-link @patikscol]

  p Si quieres saber como puedes colaborar o convertirte en voluntario no dudes en escribirnos a nuestra cuenta. Ayudanos a rescatar y buscar un nuevo hogar para estas hermosas criaturas

