.section{
  max-width: 1000px;
  margin: 10vh auto;
  
  & > p {
    padding: 5vh 20px;
  }

  

  .see-all {
    max-width: 400px;
    margin: auto;
    padding: 5vh 20px;

    background: $white;

    text-align: center;


    a {
      color: $primary-color;
      font-size: 1.5rem;
      
      &.insta-link {color:$blue}
      &:hover{color:$secundary-color}
    }
  }
}

.section-title {
  width: 100%;
  margin: 5vh 0;
  padding: 4vh 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: $full-white;


  .title {
    font-family: $font-family-display;
    font-size: 30px;
    font-weight: normal;
  }
  
  img {
    height: 10vh;
    margin-left: 2vw;
  }
  
}
a.insta-link {
  color: $blue;
}




.section-join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  font-size: 1.2rem;

  img{
    max-width: 200px;
    margin: auto;
  }

  p {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
  }
}




.section-about {
  @include flexCenter;
  flex-direction: column;
  align-items: center;

  & > div {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  .section__img {
    width: 100vw;
    max-width: 400px;
    max-height: 400px;
    margin: auto;
  }

  p {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
  }  

  & > img:last-child{
    width: 20vw;
    max-width: 400px;
    margin: auto;
  }
  .section__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include media($medium-min){
  }
}
