extends ../config/template
append config
  -headTitle = "Patiks | Sobre nosotros"
  -description = "Somos una organizaci贸n sin fines de lucro dedicada a educar, informar y fomentar la adopci贸n para as铆 concienciar a la poblaci贸n sobre la tenencia responsable de un animal."
  -ogUrl= "https://patiks.ga/about.html"

block main
  main(itemscope itemprop="mainContentOfPage" role="main")
    section.section.section-about
      .section-title
        h4.title Sobre nosotros
        img(src="./img/group-icon.svg", alt="pawn prints logo")
      img(src="./img/us.jpg" alt="Photo with all the members of the organization")
      
      p Patikscol es un grupo de voluntarios cuyo amor por los animales va mas alla de cualquier cosa.

      p Somos una organizaci贸n sin fines de lucro ubicada en Cabimas - Venezuela. Dedicada a educar, informar y fomentar la adopci贸n para as铆 concienciar a la poblaci贸n sobre la tenencia responsable de un animal.


      p Gracias a la colaboraci贸n de todos esto se hizo  posible, todos llevan una parte del cr茅dito y Esperamos que esta familia siga creciendo, teniendo siempre presente que esto siempre ser谩 por ellos y para ellos.

      p Gracias infinitas por tanto apoyo, solo juntos podremos lograr ese cambio que tanto deseamos ver en nuestro hermoso pa铆s.

      img(src=logo, alt="Main logo")
