extends ../includes/blogPostTemplate
append config
  -var post = posts[6];  
  -headTitle = post.blogPostTitle + " | Patiks.com"; 


block blogPostUrl
  include:markdown-it(html) ../../blogPosts/cero-chocolate.md  