extends ../includes/blogPostTemplate
append config
  -var post = posts[6];  
  -headTitle = post.blogPostTitle + " | Patiks.com";
  -description = post.description;
  -ogUrl= post.ogUrl; 


block blogPostUrl
  include:markdown-it(html) ../../blogPosts/cero-chocolate.md  