extends ../includes/blogPostTemplate
append config
  -var post = posts[9];  
  -headTitle = post.blogPostTitle + " | Patiks.com"; 


block blogPostUrl    
  include:markdown-it(html) ../../blogPosts/Como-cuidar-cachorros-recien-nacidos-sin-madre.md     


