extends ../includes/blogPostTemplate
append config
  -var post = posts[posts.length - 3];    
  -title = post.blogPostTitle;
  -headTitle = post.blogPostTitle + " | " + site.name;
  -description = post.description;
  -ogUrl= site.domain + post.Url;
  -ogImgUrl = site.domain + post.imgUrl;
  -ogType = "Article";

block blogPostUrl    
  include:markdown-it(html) ../../blogPosts/Como-cuidar-cachorros-recien-nacidos-sin-madre.md     


