extends ../includes/blogPostTemplate
append config
  -var post = posts[posts.length - 7];    
  -title = post.blogPostTitle;
  -headTitle = post.blogPostTitle + " | Patiks.com";
  -description = post.description;
  -ogUrl= post.ogUrl;
  -img = post.imgUrl;

block blogPostUrl
  include:markdown-it(html) ../../blogPosts/Deberia-darle-frutas-a-mi-perro.md 