extends ../config/template
//- include ../includes/banner
append config
  -headTitle = "Patiks" 
  -description = "Sitio web en el que puedes adopar a una mascota o Buscarle un nuevo hogar a la tuya."
  -ogUrl = "/index.html"

  -img = "images/home-banner.jpg"
  -titleBanner = "title Banner"
  -Bannerdescription = "Banner description"
  -clase = ""
  -boton = ""
  -botonClass= ""
  -botonUrl=""
  -botonIco= ""
  -botonText =""
  -botones = "si"
 
     

block main
  main.main
    