extends ../includes/blogPostTemplate
append config
  -var post = posts[10];  
  -headTitle = post.blogPostTitle + " | Patiks.com"; 


block blogPostUrl    
  include:markdown-it(html) ../../blogPosts/Los-gatos-se-banan.md