extends ../includes/blogPostTemplate
append config
  -var post = posts[posts.length - 4];    
  -title = post.blogPostTitle;
  -headTitle = post.blogPostTitle + " | Patiks.com";
  -description = post.description;
  -ogUrl= post.ogUrl;
  -img = post.imgUrl;

block blogPostUrl
  include:markdown-it(html) ../../blogPosts/ventajas-de-adoptar-una-mascota.md     
  include:markdown-it(html) ../../blogPosts/mis-duenos-se-van-del-pais.md     