extends ../config/template
append config
  -headTitle = "Patiks | Mascotas"
  -description = "Adopta una mascota y dale un nuevo hogar a un hermoso compa帽ero."
  -ogUrl= "/pets.html"

block main
  main(itemscope itemprop="mainContentOfPage" role="main")
    section.section.section-pets
      .section-title
        h4.title Mascotas
        img(src="./img/pawprints.svg", alt="pawn prints logo")
      .cards.cards-pets
        .card.card-pet
          img(src="./img/Ruby.jpg", alt="Pet image").card__img
          h3.card__title.card-pet__title Ruby
          div
            p.card-pet__age 8 meses
            details
              summary.card__button Ver info
              p Esta preciosa nena espera por un hogar definitivo.Ya desparasitada y esterilizada. Para mayor informaci贸n comunicarse con Yuraima al +58 424-6139173  Cabimas - Zulia

        .card.card-pet
          img(src="./img/Rocky.jpg", alt="Pet image").card__img
          h3.card__title.card-pet__title Rocky
          div
            p.card-pet__age 5 meses
            details
              summary.card__button Ver info
              p Hermoso cachorro en adopci贸n攫 Para m谩s informaci贸n comunicarse con Yuraima al +58 424-6139173 .

        .card.card-pet
          img(src="./img/Mili.jpg", alt="Pet image").card__img
          h3.card__title.card-pet__title Mili
          div
            p.card-pet__age 2 meses
            details
              summary.card__button Ver info
              p Hermosa gatita en adopci贸n攫 Para m谩s informaci贸n comunicarse con Renata al +584246899357わ  (Cabimas-Zulia).

        .card.card-pet
          img(src="./img/Zeus.jpg", alt="Pet image").card__img
          h3.card__title.card-pet__title Zeus
          div
            p.card-pet__age 7 meses
            details
              summary.card__button Ver info
              p Este beb茅 fue rescatado en la plaza de las 50 (Cabimas-Zulia). Se busca hogar definitivo o temporal. Su rescatista se har谩 cargo de las vacunas y tambi茅n de su esterilizaci贸n. Para mayor informaci贸n comunicarse al +584120745878 .

        .card.card-pet
          img(src="./img/bella.jpg", alt="Pet image").card__img
          h3.card__title.card-pet__title Bella
          div
            p.card-pet__age 3 meses
            details
              summary.card__button Ver info
              p Gatita de aproximadamente 3 meses en adopci贸n  Para m谩s informaci贸n comunicarse con Soraida al +58 412-6822229 わ (Cabimas).

        .card.card-pet
          img(src="./img/Jade.jpg", alt="Pet image").card__img
          h3.card__title.card-pet__title Jade
          div
            p.card-pet__age 4 meses
            details
              summary.card__button Ver info
              p Hermosa nena de 4 meses busca un hogar definitivo Ya desparasitada Para mayor informaci贸n comunicarseal +58 412-0679993 Cabimas - Zulia

        .card.card-pet
          img(src="./img/Miedica.jpg", alt="Pet image").card__img
          h3.card__title.card-pet__title Miedica
          div
            p.card-pet__age 6 meses
            details
              summary.card__button Ver info
              p  Hermosa cachorra de 6 meses en adopci贸n 娥 Tiene TODAS sus vacunas (se entregan los certificados). Para mayor informaci贸n comunicarse con Renata al +584246899357わ Cabimas - Zulia. 

        .card.card-pet
          img(src="./img/Nana.jpg", alt="Pet image").card__img
          h3.card__title.card-pet__title Nana
          div
            p.card-pet__age 1 a帽o
            details
              summary.card__button Ver info
              p Hermosa de 6 meses en adopci贸n火 Desparasitada y con todas sus vacunas (se entrega con los certificados) y pronto ser谩 esterilizada攫. Para mayor informaci贸n comunicarse al +584246899357  
