extends ../config/template
include ../includes/card-pet
append config
  -headTitle = "Patiks | Mascotas"
  -description = "Adopta una mascota y dale un nuevo hogar a un hermoso compañero."
  -ogUrl= "https://patiks.ga/pets.html"

block main
  main(itemscope itemprop="mainContentOfPage" role="main")
    section.section.section-pets
      .section-title
        h4.title Mascotas
        img(src="./img/pawprints.svg", alt="pawn prints logo")
      .cards.cards-pets
        -for(var i = 0; i < pets.length ; i++)
          +card-pet(pets[i])  