extends ../includes/blogPostTemplate
append config
  -var post = posts[1];  
  -headTitle = post.blogPostTitle + " | Patiks.com";


block blogPostUrl
  include:markdown-it(html) ../../blogPosts/Un-propietario-irresponsable-es-mas-peligroso-que-un-animal-potencialmente-peligroso.md