extends ../includes/blogPostTemplate
append config
  -var post = posts[posts.length - 5];  
  -title = post.blogPostTitle;
  -headTitle = post.blogPostTitle + " | " + site.name;
  -description = post.description;
  -ogUrl= site.domain + post.Url;
  -ogImgUrl = site.domain + post.imgUrl;
  -ogType = "article";

block blogPostUrl
  include:markdown-it(html) ../../blogPosts/Ventajas-de-adoptar-una-mascota.md    