- var title = "Patiks.ga"
- var description = "Sitio web en el que puedes adopar a una mascota y aprender sobre el cuidado animal"
- var ogUrl = "https://patiks.ga"
- var webTheme = "#f19e22" 
- var logo = "https://patiks.ga/img/pawprint-logo.svg"

- var headTitle = "Patiks | Home"
- var img = ""
- var title = ""
- var description = ""
- var clase = ""
- var boton = ""
- var botones = ""
