- var title = site.title;

- var headTitle = title + " | " + site.name;

- var description = site.description;

- var logo = site.logoUrl;
- var webTheme = site.theme; 

- var ogType = "website";
- var ogUrl = site.domain;
- var ogImgUrl = site.domain + site.ogImgPng;


-var post_destacado_1 = posts[posts.length-5] 
-var post_destacado_2 = posts[posts.length-4]
-var post_destacado_3 = posts[posts.length-8]
