- var title = site.title;

- var headTitle = title + " | " + site.name;

- var description = site.description;

- var logo = site.logoUrl;
- var webTheme = site.theme; 

- var ogUrl = site.domain;
- var ogImgUrl = site.domain + site.ogImg;
