block config
  include config

doctype html
html(lang="es")
  head
    title= headTitle
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="description" content= description)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans")
    link(rel="stylesheet" href="css/styles.css")
    link(rel="shortcut icon" href="./img/favicon.png")


    //- Open Graph Protocol
    meta(property="og:title" content= title)
    meta(property="og:type" content="website")
    meta(property="og:description" content= description)
    meta(property="og:url" content= ogUrl)
    meta(property="og:image" content="./img/banner-trans.png")
    meta(property="og:site_name" content="Patiks | Adopta una mascota")
    meta(property="og:locale" content="es_VE")
    meta(property="og:locale:alternate" content="es_CO")
    meta(property="og:locale:alternate" content="es_MX")
    meta(property="og:locale:alternate" content="es_DO")
    meta(property="og:locale:alternate" content="es_BO")

    meta(name="theme-color" content=webTheme)


  body(itemscope itemtype="https://schema.org/WebPage")
    include ../includes/header
    block main
    include ../includes/join
    include ../includes/footer
    script(src="js/app.js")