
.menu {
  width: 100vw;
  min-height: 100vh;

  position: fixed;
  top: 0;
  z-index: -1;
  @include flexCenter;


  background: $primary-color;
  color: $white;

  transform: translate(0,-100vh);
  @include transition;
  transition-duration: 0.5s;



  &-nav{
    @include reset-list;
    height: 100vh;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;

    font-size: 1.8rem;

    

    


    &__item {
      margin-bottom: 1rem;
      padding-left: 1rem;

      border-left: 2px solid $secundary-color;

      @include transition;

      @include media($large-min){
        height: auto;
        display: inline;;
      }

      & > *:hover {
        padding-left: 1.2rem;

        color: $secundary-color;
        
        @include transition
      }
    }
  }






  @include media($large-min){
    z-index: 0;
    width: auto;
    height: 100%;
    min-height: auto;
    position: static;
    display: inline;
    background: transparent;
    color: $black;
    transform: translate(0,0);

    &-nav {
      height: auto;
      display: inline;

      &__item {
        height: 100%;
        margin: 0 1rem;
        border-left: 0;
        padding: 1rem;
        display: inline;
        font-size: 1.4rem;
        @include transition

        &:hover{
          background: $secundary-color;         
          & > * {
            color: $full-white;
            padding-left: 0;
          }
        }

      }
    }
  }
}