.slogan {
  max-width: 1000px;
  margin: auto;

  border-top: 10px solid $secundary-color;

  &__text {
    max-width: 500px;
    margin: auto;
    padding: 20px;

    color: hsl(0,0%,30%);

    font-family: $font-family-display; 
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 1.5px;   
    text-align: center;
  }
}