@viewport { width: device-width; }

html {
  background-color: $color-background;
  box-sizing: border-box;
  height: 100%;
}

* {
  box-sizing: border-box;
  &:before,
  &:after { box-sizing: inherit; }
}

body {
  -webkit-font-smoothing: antialiased;
  background: $color-background;
  color: $color-text;
  font-family: $font-family-default;
  @include fluid-font-size($min-font-size, $max-font-size, $min-screen-size, $max-screen-size);
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}



a {
  background: transparent;
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $secundary-color;
  }
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-default;
  margin: 0;
  padding: 0;
}



