.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-flow: column no-wrap;

  &__text {
    margin: 0 10vw;
    font-size: 2rem;

    span {
      color: $secundary-color;
      font-family: $font-family-display;
    }
  }


  &__img{
    align-self: flex-end;
  }
}