.banner {
  height: 100vh;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-flow: column no-wrap;
  justify-content: flex-end;
  

  &__text {
    max-width: 400px;
    margin: 0 10vw;
    margin-bottom: 5vh;
    font-size: 1.8rem;
    align-self: flex-end;


    @include media($medium-min){
      font-size: 2.2rem;
      margin-bottom: 0;
    }

    span {
      color: $secundary-color;
      font-family: $font-family-display;
    }
  }


  &__img{
    max-width: 500px;
  }


  
  @include media($medium-min){
    flex-direction: row-reverse;

    &__img {
      max-height: 50vh;
      align-self: flex-end;
    }

    &__text {
      align-self: center;
      margin: 0 5vw;
    }
  }
}