.blogPost {
  max-width: 800px;
  margin: auto;
  padding-top: 15vh;
  
  background: $full-white;

 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    color: $black;
  }
  
  &__title,
  &__date,
  &__caption,
  &__body,
  &__author {
    padding: 2px 20px;
    color: hsl(0,0%,30%);
  }

  &__body {    
    max-width: 600px;
  }

  &__date,
  &__caption {
    color: hsl(0,0%,60%);
  }

  &__title {
    color: $full-black;
    font-size: 1.8rem;

  }

  &__caption {
    text-align: center;
    a {
      text-decoration: underline;
    }
  }

  &__authorSpace {
    width: 100%;
    padding: 20px;
    display: block;
    border-top: 2px solid $silver;
  }


  @include media($medium-min){
    max-width: 1000px;
    padding: 5vh 10vw;
    margin-top: 15vh;

    &__body {
      font-size: 1.2rem;
    }
  }
}