.footer {
  background: $primary-color;
  color: $full-white;
  @include flexCenter;
  flex-direction: column;

  
  a:hover{
    color: $secundary-color;
  }



  &__nav {
    width: 100%;
    max-width: 600px;
    margin: 2vh 0;
    display: flex;
    justify-content: space-around;

    p {
      border-left: 1px solid $secundary-color;
      padding-left: 15px;
    }

  }


  &__author {
    padding: 0 5vw;
    // text-align: center;
    font-size: 0.9rem;
  }


  &__icons {
    @include flexCenter;
    a {
      margin: 2vw 4vw;
      background: $full-white;
      border-radius: 5px;
      padding: 0;
    }
  }
}

.blue-link {
  color: $blue;
  text-decoration: underline;
}