.header {
  min-width: 100vw;
  position: fixed;
  top: 0;
  z-index: 4;

  // display: none;

  background: transparent;
  color: $secundary-color;

  @include transition;
  
  .website{      
    display: flex;
    align-items: center;
    
    .main-logo {
      width: 6vh;
      height: 6vh;
      margin: 5px 1rem;
    }

    .websiteName {
      font-family: $font-family-display;
      font-size: 2rem;
      margin: 0;
    }
  }
}

.menu-btn {
  position: fixed;
  top: 1.5vh;
  right: 1.5vh;
  z-index: 5;
  cursor: pointer;
  @include transition;

  &__line {
    width: 40px;
    height: 5px;
    margin: 0 0 5px 0;
    background: $secundary-color; 
    @include transition;
  }
  
}




