

.illustration__content {
    width: 100%;
    margin: 0;
    padding: 0 10vw;
    text-align: center;
    color: $gray;
    
    p.title {
      color: $full-black;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 2vh;
    }
  }
