.illustrations {
  color: $gray;
  font-size: 1.4rem;

}
  
.illustrations__item {
  margin-bottom: 10vh;
  & > p {
    width: 100%;
    margin: 0;
    padding: 0 10vw;
    text-align: center;
    
    &.title {
      color: $full-black;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 2vh;
    }
  }
}
