
 






.menu {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  @include flexCenter;


  background: $primary-color;
  color: $white;

  transform: translate(0,-100vh);
  @include transition;
  transition-duration: 1s;




  &-nav{
    @include reset-list;
    height: 100vh;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;

    font-size: 1.8rem;

    


    &__item {
      @include transition
      margin-bottom: 1rem;
      border-left: 2px solid $secundary-color;
      padding-left: 1rem;

      & > *:hover {
        color: $secundary-color;
        padding-left: 1.2rem;
        @include transition
      }
    }
  }
}