.section{
  max-width: 1000px;
  margin: 20vh auto;
  
  & > p {
    padding: 5vh 20px;
  }

  
  .section-title {
    width: 100%;
    margin: 5vh 0;
    padding: 4vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $full-white;

    .title {
      font-size: 30px;
    }
    
    img {
      height: 10vh;
      margin-left: 2vw;
    }
    
  }

  .see-all {
    text-align: center;
    background: $white;
    margin: 0;
    padding: 5vh 20px;
    a {
      color: $primary-color;
      font-size: 1.5rem;
      &.insta-link {color:$blue}
      &:hover{color:$secundary-color}
    }
  }
}

a.insta-link {
  color: $blue;
}




.section-join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;

  img{
    width: 50%;
    max-width: 600px;
    margin: auto;
  }

  p {
    margin: 20px 0;
    padding: 20px;
  }
}




.section-about {
  @include flexCenter;
  flex-direction: column;

  p {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
  }  

  & > img:last-child{
    width: 30vw;
    max-width: 400px;
    margin: auto;
  }
}
